/*  ==========================================================================
     ANIMATIONS
    ==========================================================================  */
@keyframes tada {
  from {
    transform: scale3d(1, 1, 1);
  }
  10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }
  30%, 50%, 70%, 90% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }
  40%, 60%, 80% {
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }
  to {
    transform: scale3d(1, 1, 1);
  }
}
/*  ==========================================================================
     RESET
    ==========================================================================  */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
}

button[disabled], html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
}

select, textarea, button, html input[type="button"], input[type="reset"],
input[type="submit"], input[type="text"], input[type="url"], input[type="email"],
input[type="tel"], input[type="number"], input[type="search"], input[type="password"] {
  appearance: none;
}

/*  ==========================================================================
     BASE
    ==========================================================================  */
::selection {
  background: #f17d24;
  color: #fff;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  padding: 0 0 3.75em;
  position: relative;
  background: #f5f5f5;
  color: #404040;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-style: normal;
  font-weight: normal;
  line-height: 1.25;
}

a {
  color: #f17d24;
  text-decoration: none;
}

h2, h3 {
  text-align: center;
}

h2 {
  margin-top: 0.125em;
  font-size: 1.125em;
  font-weight: 300;
  text-transform: lowercase;
}

h3 {
  font-size: 1.125em;
}

.screen-reader-text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
}

.group:before,
.group:after {
  content: " ";
  display: table;
}

.group:after {
  clear: both;
}

/*  ==========================================================================
     LAYOUT
    ==========================================================================  */
.main,
.site-header,
.site-footer {
  max-width: 33.75em;
  margin: 0 auto;
}

.main {
  margin-top: 3.125em;
}

.site-header {
  margin-top: 1.25em;
  text-align: center;
}
.site-header .logo {
  width: 120px;
  height: 47px;
}
.site-header path {
  fill: #f17d24;
}

.site-footer {
  margin-top: 1.25em;
  text-align: center;
}
.site-footer .logo {
  width: 60px;
  height: 23px;
}

/*  ==========================================================================
     TOOLS
    ==========================================================================  */
.tool {
  position: relative;
}

.tool-header {
  padding: 0 5%;
  text-align: center;
}
.tool-header p {
  margin-top: 0.25em;
  color: #999;
  font-size: 0.75em;
  line-height: 1.5;
}

.more-info {
  display: none;
  position: absolute;
  top: 8%;
  right: 3%;
  z-index: 1;
  font-size: 1.25em;
  transition: color 100ms linear;
}
.more-info svg {
  width: 20px;
  height: 20px;
}
.more-info path {
  fill: #a8a8a8;
  transition: fill 100ms ease-out;
}
.more-info:hover path {
  fill: #f17d24;
}

/*   Tools - Password Strength Test
    --------------------------------------------------------------------------  */
.pw-test {
  margin: 0 3%;
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.pw-test.pulse {
  animation-name: tada;
}

.pw-test-field {
  margin-top: 0.625em;
}
.pw-test-field[data-score] .pw-test-input {
  border-radius: 5px 5px 0 0;
}
.pw-test-field[data-score="0"] .pw-test-input {
  background: #fec0c1;
}
.pw-test-field[data-score="0"] .pw-test-results-wrap {
  background: #f00;
  color: #fff;
}
.pw-test-field[data-score="1"] .pw-test-input {
  background: #ffddad;
}
.pw-test-field[data-score="1"] .pw-test-results-wrap {
  background: #f90;
  color: #fff;
}
.pw-test-field[data-score="2"] .pw-test-input {
  background: #ffeead;
}
.pw-test-field[data-score="2"] .pw-test-results-wrap {
  background: #fc0;
  color: #b38400;
}
.pw-test-field[data-score="3"] .pw-test-input {
  background: #def595;
}
.pw-test-field[data-score="3"] .pw-test-results-wrap {
  background: #ace600;
  color: #537e00;
}
.pw-test-field[data-score="4"] .pw-test-input {
  background: #abeea8;
}
.pw-test-field[data-score="4"] .pw-test-results-wrap {
  background: #0c0;
  color: #fff;
}

.pw-test-input-wrap {
  position: relative;
}

.pw-test-results-wrap {
  background: #dfdfdf;
  border-radius: 0 0 5px 5px;
  text-align: center;
  transition: all 200ms linear;
}

.pw-test-input {
  width: 100%;
  margin: 0;
  padding: 0.75em 1em;
  background: #dfdfdf;
  border: 0;
  border-radius: 5px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
  transition: all 200ms linear;
}
.pw-test-input:focus {
  outline: 0;
}
.pw-test-input::-webkit-input-placeholder {
  color: #999;
}
.pw-test-input::-moz-placeholder {
  color: #999;
}
.pw-test-input:-ms-input-placeholder {
  color: #999;
}

.pw-test-score p {
  padding: 0.5em 0.375em;
  font-size: 0.75em;
  line-height: 1.5;
}

/*   Tools - Passphrase Generator
    --------------------------------------------------------------------------  */
.pp-generator {
  margin-top: 1.875em;
  padding: 1.875em 3% 0;
  border-top: 1px solid #dfdfdf;
}

.pp-generator-seed-result {
  display: block;
  width: 100%;
}

.pp-generator-form {
  margin-top: 0.625em;
}

.pp-generator-output {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.75em 1em;
  background: #dfdfdf;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1em;
  font-weight: 300;
  text-align: center;
}
.pp-generator-output:focus {
  outline: 0;
}

.pp-generator-submit {
  display: block;
  width: 100%;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  background: #404040;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 100ms linear;
}
.pp-generator-submit:hover {
  background: #f17d24;
}
.pp-generator-submit:focus {
  outline: 0;
}

/*   Tools - Password Generator
    --------------------------------------------------------------------------  */
.pw-generator {
  margin-top: 1.875em;
  padding: 1.875em 3% 0;
  border-top: 1px solid #dfdfdf;
}

.pw-generator-header {
  text-align: center;
}
.pw-generator-header:first-child .pw-generator-heading {
  margin-top: 0;
}

.pw-generator-heading {
  display: inline-block;
  position: relative;
  margin-top: 2em;
}

.pw-generator-options {
  width: 80%;
  margin: 1.25em auto 0.625em;
  text-align: center;
}
.pw-generator-options label {
  color: #999;
  font-weight: bold;
}

.pw-length-input {
  display: inline-block;
  width: 90%;
  cursor: pointer;
}

.pw-length-output {
  display: inline-block;
}

.pw-generator-output {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.75em 1em;
  background: #dfdfdf;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
}
.pw-generator-output:focus {
  outline: 0;
}

.pw-generator-submit {
  display: block;
  width: 100%;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  background: #404040;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 100ms linear;
}
.pw-generator-submit:hover {
  background: #f17d24;
}
.pw-generator-submit:focus {
  outline: 0;
}

.pw-generator-mem {
  margin-top: 0.625em;
}

.pw-generator-mem-output {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0.75em 1em;
  background: #dfdfdf;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen-Sans, Ubuntu, Cantarell, 'Helvetica Neue', sans-serif;
  font-size: 1.125em;
  font-weight: 300;
  text-align: center;
}
.pw-generator-mem-output:focus {
  outline: 0;
}

.pw-generator-mem-submit {
  display: block;
  width: 100%;
  margin-top: 0.5em;
  padding: 0.5em 1em;
  background: #404040;
  border: 0;
  border-radius: 5px;
  color: #fff;
  font-size: 0.875em;
  font-weight: 700;
  text-transform: uppercase;
  transition: all 100ms linear;
}
.pw-generator-mem-submit:hover {
  background: #f17d24;
}
.pw-generator-mem-submit:focus {
  outline: 0;
}
@media (min-width: 30px) {
  .tool-header {
    padding: 0;
  }
}
@media (min-width: 30em) {
  body {
    background: #ebebeb;
    padding: 0 5% 3.75em;
  }
  h2 {
    font-size: 1.625em;
  }
  h3 {
    font-size: 1.5em;
  }
  .main {
    margin-top: 0;
  }
  .site-header {
    margin-top: 2.5em;
  }
  .site-header .logo {
    width: 180px;
    height: 66px;
  }
  .site-footer {
    margin-top: 2.5em;
  }
  .site-footer .logo {
    width: 80px;
    height: 31px;
  }
  .more-info {
    display: block;
  }
  .pw-test {
    margin: 1.875em auto 0;
    padding: 1em;
    background: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .pw-test-field {
    margin-top: 1.25em;
  }
  .pw-test-input {
    font-size: 1.375em;
  }
  .pw-test-score p {
    font-size: 0.875em;
  }
  .pp-generator {
    margin-top: 2.5em;
    padding: 1em;
    background: #f5f5f5;
    border-top: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .pp-generator-form {
    margin-top: 1.25em;
  }
  .pp-generator-output {
    font-size: 1.375em;
  }
  .pp-generator-submit {
    font-size: 1em;
  }
  .pw-generator {
    margin-top: 2.5em;
    padding: 0;
    padding: 1em;
    background: #f5f5f5;
    border-top: 0;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  }
  .pw-generator-options {
    width: auto;
    margin: 1.875em 0 0.625em;
  }
  .pw-generator-output {
    font-size: 1.375em;
  }
  .pw-generator-submit {
    font-size: 1em;
  }
  .pw-generator-mem {
    margin-top: 1.875em;
  }
  .pw-generator-mem-output {
    font-size: 1.375em;
  }
  .pw-generator-mem-submit {
    font-size: 1em;
  }
}
